<div class="row">
  <div class="col-sm-12 col-lg-6">
    <h1>Lista de canciones</h1>
  </div>
  <div class="col-sm-12 col-lg-5 mt-3">
    <div class="input-group input-group-sm">
      <span class="input-group-text">
        <i class="fas fa-search"></i>
      </span>
      <input class="form-control" type="text" (keyup.enter)="getPlayList(list.value)" #list>
    </div>
  </div>
  <div class="col-sm-12 col-lg-1 mt-3">
    <button type="button" class="btn btn-success btn-sm">Agregar</button>
  </div>
</div>

<div class="card" *ngFor="let peticion of listPeticion">
    <h3>{{peticion.nombre}}</h3>
    <h4>{{peticion.descripcion}}</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th>Titulo</th>
            <th>Artista</th>
            <th>Album</th>
            <th>año</th>
            <th>Genero</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cancion of peticion.canciones">
            <td>{{ cancion.titulo }}</td>
            <td>{{ cancion.artista }}</td>
            <td>{{ cancion.album }}</td>
            <td>{{ cancion.anno }}</td>
            <td>{{ cancion.genero }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
